
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
  /* selected font Merriweather,serif;weight 300,400,700,900 all bold */
/* Universal Selector */
*{
    margin: 0%;
   

}
header,article,main,section{
    Width:80%;
    margin:20px auto 20px;
}
/*1st page Style Starts */
header{
    
    height:90vh;
  
}
.banner-content{
   
    height:80vh;
  
    background-image: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: contain;
    border:none;
    border-radius: 5px;
    text-align: center;
    color:white;

   
   

}
.banner-greeting{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 150px ;
    padding-bottom: 10px;
    text-shadow: 5px 5px 10px black;

}


.banner-title{
    font-family: 'Merriweather', serif;
    font-size:45px;
    font-weight: 900;
    text-shadow: 10px 10px 20px black;
}
/* 2nd page Style Starts */
.offer-text{
text-align: center;
}
.offer-text>h1{
    color:red;
    font-size: 88px;
}
.offer-text>p{
    font-size: 10px;
    color:red;
}
.offer-text>h3{
    font-weight: 900;
    font-size: 30px;
}
.offer-sixty{
    width:50%;
    height:100vh;
    margin:20px auto 20px;
  
   background-image: url("../images/New\ Year\ Photo.png");
   background-repeat: no-repeat;
   background-size:contain;
}
/* 3rd page Style Starts Here */
.welcome-party{
  
    height:80vh;
 
  
    background-image: url("../images/Vector.png");
    background-repeat: no-repeat;
    background-size: contain;
    border:none;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding-right:20px;
    font-family:'Courier New', Courier, monospace;

    
}
.welcome-party>img{
    margin-top: 20px;
    margin-bottom: 100px;
    
}
.welcome-text{
    color:white;
    width:55%;
    margin-top:20px ;
    margin-left:50px;
    text-shadow: 10px 10px 10px black;
}
.welcome-text>h1{
    
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
   }
.welcome-text>p{
    font-size:18px;
    font-family: Merriweather;
}
.welcome-text>button{
    border:none;
    background:none;
    margin-top: 15px;
}
.welcome-text>button>a{
    
    color:white;
   
    font-weight: 500;
    text-decoration: none;
}
/* 4th page style Starts Here */
.party-nav{
   
    height:50vh;
   
    background-color: rgb(245, 219, 223);
    border:none;
    border-radius:10px;
    text-align: center;
    justify-content: center;
    padding-top:50px;

}
.party-nav>h4>span{
    color:red;
    font-size:20px;
    font-family: Merriweather;

}
.party-nav>h4{
    font-size:20px;
    font-family: Merriweather;
    margin-top:10px;
}
.party-nav>button>a{
    text-decoration: none;
    color:white;
}
.party-nav>button{
    background-color: red;
    border:none;
    padding:20px;
    border-radius:10px;
    margin-top: 30px;

}
/* Style of Bonus Section Starts */
.bonus-section{
    width:auto;
    justify-content: space-around;
    height:50vh;
    display: flex;
    margin-top: 100px;
}
.bonus-left{
      margin: 0 20px 0 0;
      padding-bottom: 20px;
      padding-right: 20px;
      text-align: left;
      width:30%;
}
.bonus-right{
    width:40%;
    margin-left: 100px;
    text-align: justify;
    margin-right: 0;
    padding-right: 0;
  
}
.bonus-mid{
    width:200px;
    height:200px;
    background-image: url("../images/Ellipse\ 1.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    background-position:top;
    margin:0px auto  auto 90px ;
    
   
    border:20px solid  white;
    outline: 10px solid red;
    border-style: double;
    border-radius: 200px;
    flex-shrink: 0; 
   
}
.bonus-left>h4,.bonus-right>h2{
    color:red;
}
.bonus-left>h2{
    font-size: 50px;
}
.bonus-left>p,.bonus-right>p{
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 5px red;
}
/* Style of fifty % offer section */
.fifty-section{
margin-top:80px;
height:100vh;
text-align: center;
}
.fifty-text{
font-family:  Merriweather;
height: 30vh;
margin-bottom: 20px;
}
.fifty-text>h1{
    font-size:50px;
}
.fifty-text span{
color:red;

}
.fifty-banner{
height:60vh;
background:url("../images/Group\ 44.png") center  no-repeat,url("../images/Group\ 75.png") left bottom no-repeat,url("../images/Rectangle\ 1.png") right top no-repeat,url("../images/Rectangle\ 2.png") bottom no-repeat;
background-size: contain;
}
/* Style of Products ShowCase Starts */
.product-showcase{
    height:130vh;
    width:80%;
    margin-top: 50px;

}
.product-heading{
    display:block;
    font-family: Merriweather;
}
.product-heading>h6{
    font-size:16px;
    color:red;
}
.product-heading>h2{
    font-size:30px;
}
.product-heading>p{
    font-size: 12px;
    color:rgb(64, 57, 57);
}
.product-grid{
   display: block;
   margin-top: 10px;

   
}

.grid-one{
    display:flex;
    padding:5px 0px;
    margin-top: 10px;

}
.grid-two{
    display:flex;
    padding:5px 0px;
    margin-top: 5px;
   
}
.product-grid img{
    padding-right: 5px;
}
/*Styles of Subscribe form starts here */
.subscribe-section{
    height: 70vh;
    margin:10px auto 20px;
    background-color: rgb(245, 219, 223);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    font-family:Merriweather ;
    
}
.subscribe-section>img{
    margin-top: 50px;
}
.subscribe-section>h2{
margin-bottom: 10px;
font-size: 40px;
}
.subscribe-section>p{
    font-size: 12px;
    color:rgb(64, 57, 57);
    margin-bottom: 10px;
}
.subscribe-section .email{
    padding:15px 10px;
    border-radius: 50px 0px 0px 50px;
    margin-right: 0;
    border:none;
}
.subscribe-section .btn{
    padding:15px 10px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background-color: red;
    color:white;
    margin-left: 0;
}
/*Ends of  Main part's Style */
/* Footer part */
footer{
    width:100%;
    height:80vh;
    background-color: rgb(15, 11, 11);
    color:white;

}
footer p{
    font-family:Merriweather ;
    font-size:15px;
}
.address{
display: flex;
justify-content: space-between;
padding: 50px;
width:80%;
margin:20px auto 20px;
}
.social-link{
    text-align: center;
    padding: 50px;

}
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width:80%;
    margin:20px auto 0px;
}
.numb,.site{
    display: flex;
}
.copyright>button{
    color:white;
    border:none;
    background: none;
}